.form {
	display: flex;
	flex-direction: column;
	margin-bottom: 0px;
	padding: 0 20px;
	width:80%;
}

.submit {
	position: absolute;
	bottom: 20px;
	right: 30px;
	width: 40%;
}

.inputConteiner{
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.buttonConteiner{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1500px;
}