.form {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	padding: 0 20px;
	text-align: left;
}
input {
	margin-top: 10px;
}
.submit {
	position: absolute;
	bottom: 20px;
	right: 30px;
	width: 40%;
}