.container{
    display: flex;
    flex-direction: column;
    width: auto;
}
.title{
    display: flex;
    justify-content: center;
}
.title h2{
   border-bottom: 1px solid #000;
}

.containerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employeeTitle Button {
    margin-left: 25%;
}