h2 {
  margin: 0 0 1rem 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.closeForm {
  color: red;
  border-color: transparent;
  background-color: white;
}

input {
  margin: 1rem;
  border-radius: 5px;
}

button {
  margin-top: 1rem;
  height: 35px;
  border-radius: 5px;
  font-size: small;
  color: #ddd;
  border-color: #EA3354;
  background-color: #EA3354;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table {
  margin: 1rem;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  text-align: center;
}

.table td{
  border: 2px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}
.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border: 2px solid #EA3354;
  background-color: #EA3354;
  color: white;
}
