.margin {
  margin: 1rem;
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 200px;
}

.closeForm {
  color: red;
  border-color: transparent;
  background-color: white;
}

.modalContent {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modalColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.modalMessage {
  margin: 1rem;
}

.table {
  margin: 1rem;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  text-align: center;
}

.table td{
  border: 2px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}
.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border: 2px solid #EA3354;
  background-color: #EA3354;
  color: white;
}

@media screen and (max-width: 1024px) {
  .tasksContainer {
    margin-left: 0px;
  }
}

@media (max-width: 600px) {
  .container {
    margin-left: 0;
  }
  .modalbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ButtonContainer {
    flex-direction: column;
  }
}

@media (min-width: 600px) {
  .modalbuttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
