.margin {
  margin: 1rem;
}

.closeForm {
  color: red;
  border-color: transparent;
  background-color: white;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table {
  margin: 1rem;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  text-align: center;
}

.table td{
  border: 2px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}
.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border: 2px solid #EA3354;
  background-color: #EA3354;
  color: white;
}

@media (max-width: 1080px) {
  .modalbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.modalMessage {
  margin: 1rem;
}