.listSection{
  flex-direction: column;
  display: flex;
  width: 100%;
  align-items: center;
justify-content: center;
align-content: center;
justify-items: center;
}
.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}
.modalActions {
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}
.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inputContainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.btnModalContainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
}
.formContainer{
  width: 100%;

}
