.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.body {
  margin-left: 200px;
  margin-top: 50px;
}

@media (max-width: 992px) {
  .body {
    margin-left: 0;
  }
}