.labelDropdown {
    margin: 5px 0 5px 0;
    margin-right: auto;
    font-size: 14px;
    font-weight: 500;
    color: #373867;
}
.selectDropdown{
    width: 200px;
    border-radius: 3px;
    border-color: #37386770;
    border: solid 2px #37386770;
    color: #393939;
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
}
.dropdownContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
