.header {
  position: relative;
  z-index: 100;
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #8A8A8A;
}

.brand {
  font-weight: bold;
  font-size: 1rem;
}

.socialIcon {
  margin-left: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 5%; */
  min-height: 100px;
  background-color: #F0F4F9;
}

.userName {
  margin-top: 21px;
  margin-left: auto;
  margin-right: 15px;
}
.appName {
  padding-left: 13px;
  padding-top: 13px;
  font-size: 2rem;
  font-weight: 200;
  width: 195px;
  height: 70px;
  color: aliceblue;
  background-color: #232F3E;
}

.rutes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
}

.rutes > li > a {
  margin-left: 15px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}

@media screen and (min-width: 750px) {
  .navbar {
    padding: 0 20%;
  }
}

.tittle {
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: xxx-large;
  font-weight: 100;
}