.selectDropdown{
    width: 200px;
    height: 25px;
    border-radius: 3px;
    border-color: #37386770;
    border: solid 2px #37386770;
}

.dropdownContainer{
flex: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 1rem;

}

input:focus {
    border: 2px solid #393939;
}

.labelDropdown {
    margin: 5px 0 5px 0;
    margin-right: auto;
    font-size: 14px;
    font-weight: 500;
    color: #373867;
}

.error {
    margin-left: initial;
    font-size: small;
    font-weight: 500;
    color: #E60000;
}