@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar input[type="checkbox"],
.navbar .hamburgerLines {
  display: none;
}

.navbar {
  top: 23px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 47px;
  width: 100%;
  background-color: #373867;
  color: #000;
  height: 50px;
}

.menu {
  order: 2;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #373867;
}

.menu li {
  list-style: none;
  margin-left: 1.5rem;
}

.menu a {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: medium;
  transition: color 0.3s ease-in-out;
}

/* efecto hover */
.menu a span:first-child {
  display: inline-block;
  padding: 10px;
}

.menu a span:last-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}

.menu a span {
  transition: transform 0.2s ease-out;
}

.menu a:hover span:first-child {
  transform: translateY(100%);
}

.menu a:hover span:last-child {
  transform: none;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menuButtonContainer {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menuToggle {
  display: none;
}

 /* comprotamiento del burger */
.menuButton,
.menuButton::before,
.menuButton::after {
  display: flex;
  background-color: rgb(232, 232, 232);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menuButton::before {
  content: '';
  margin-top: -8px;
}

.menuButton::after {
  content: '';
  margin-top: 8px;
}

.menuToggle:checked + .menuButtonContainer .menuButton::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

.menuToggle:checked + .menuButtonContainer .menuButton {
  background: rgba(255, 255, 255, 0);
}

.menuToggle:checked + .menuButtonContainer .menuButton::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menuToggle:checked + .menuButtonContainer .menuButton::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

.menuToggle:checked + .menuButtonContainer .menuButton {
  background: rgba(255, 255, 255, 0);
}

.menuToggle:checked + .menuButtonContainer .menuButton::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menuToggle:checked + .menuButtonContainer .menuButton::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.topav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  color: #FFF;
  height: 50px;
  padding: 1em;
}


.menu > li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

 /* TABLET desde 1024px */
@media (min-width: 1024px) {
  .navbar {
    height: 0;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: transparent;
    opacity: 0.95;
  }

  .navbar .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 0;
    top: 0;
    height: 100%;
    width: 195px;
    max-width: 330px;
  }

  .navbar .menu li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }
}

 /* MOBILE hasta 800px */
@media (max-width: 800px) {
  .navbar {
    position: fixed;
    top: 23px;
    justify-content: flex-start;
    align-items: center;
  }
  .menu {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    margin-top: 50px;
    width: 100%;
  }
  .menuButtonContainer {
    display: flex;
    margin: 20px;
  }

  .menu > li {
    margin: 15px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
  }
  /* .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  } */
  .menuToggle:checked ~ .menu {
    display: flex;
    flex-direction: column;
    background:#373867;
  }

}