.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #373867;
  position: relative;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: relative;
  /* width: 20%; */
  /* height: 250px; */
}

.appName {
  font-size: 2rem;
  font-weight: bold;
  color: #FFF;
}

.rutes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
}

.rutes > li > a {
  margin-left: 15px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: #FFF;
}

.license {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1px;
  width: 90%;
  padding: 0 20px;
  background-color: #373867;
}

.copyright {
  font-size: 0.7rem;
  font-style: italic;
  color: #FFF;
}

.socialIcon {
  margin-left: 5px;
  color: #FFF;
}

@media screen and (min-width: 750px) {
  /* .main {
    padding: 0 20%;
    width: unset;
  } */

  .license {
    padding: 0 20px;
    width: calc(60% - 40px);
  }

  .socialIcon {
    margin-left: 15px;
  }
}

.footerbar {
  width: 100%;
  height: 10px;
  background-color: #AACE9B;
}