h3 {
    margin: 5px;
    font-weight: 400;
}

button {
    margin-top: 0;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
}

.buttonContainer {
    position:relative;
    left: 40%;
}

.contenedorModal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background: #fff;
    position: relative;
    /* border-radius: 5px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* padding: 20px; */
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #E8E8E8; */
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    background-color:#232F3E;
    color: #fff;
}

.buttonCloseModal {
    height: 25px;
    width: 25px;
    position: absolute;
    margin-bottom: 1rem;
    right: 10px;
    top: 10px;
    height: 10px;
    border: none;
    color: white;
    font-weight: 200;
    background-color: transparent;
}

.modalHeader svg {
    color: white;
}
