.inputContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
    border: none;
    border-bottom: solid 1px;
    background-color: #FFF8F8;
}

.input:focus {
  border: 2px solid #393939;
}

.label {
  font-size: 1.17em;
  font-weight: bold;
  margin: .5rem;
}

.inputError {
  border: 1px solid #E60000;
}
input:last-of-type {
  margin-bottom: 1rem;
}