.button svg {
    width: 1.8em;
    height: 1.8em;
}

button:hover {
    cursor: pointer;
    color: #373867;
    background-color: #3738672e;
    /* border-color: #373867;
    border: 1px solid #373867; */
}

.button {
    /* margin-top: 1rem; */
    height: 35px;
    width: 35px;
    border-radius: 5px;
    border: 1px;
    font-size: small;
    color: #373867;
    border-color: #373867;
    background-color: #aace9b00;
}
.delete {
    color: red;
}

.buttonYes {
    background-color: #43d903;
}

.buttonNo {
    /* margin-top: 1rem; */
    height: 35px;
    border-radius: 5px;
    border: 1px;
    font-size: small;
    color: #373867;
    border-color: #373867;
    background-color: #d90303;
}